h1 {
    color: #ff3340;
}
h2 {
    color: #FF0000;
}
.text1 {
    font-family: Verdana;
    font-size: 11px;
    font-weight: lighter;
}
.text2 {
    word-break: break-word;
    font-family: Verdana;
    font-size: 11px;
    font-weight: lighter;
}
div {
    left: 90px;
    margin-left: 90px;
}
th {
    border: 1px solid #999;
    padding: 0.5rem;
}
hr{
    border-width: 3px;
    color:#ff3340;
}
